.matchOverflow {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: 5px dashed rgb(0, 195, 255);
  border-radius: 10px;
}

.matchCreator {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(91, 213, 64);
}

.sides {
  display: flex;
  width: 100%;
}

.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 5;
}

.team {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.teamSituation {
  display: flex;
  flex: 1;
}

.teamName {
  display: flex;
  flex: 2;
  justify-content: center;
}

#change {
  display: flex;
  flex: 1;
  cursor: pointer;
}

#changeIMG {
  display: flex;
  transform: rotate(90deg);
  width: 100%;
}

.playMatch {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(40, 215, 133);
  cursor: pointer;
  transition: background-color 0.4s;
}

.playMatch:hover {
  background-color: rgb(91, 213, 64);
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1lh;
  color: rgb(246, 69, 69);
}

@media (max-width: 1250px) {
  .matchOverflow {
    position: sticky;
    background-color: rgb(81, 81, 81);
    width: 100%;
    overflow: hidden;
    top: 50px;
    bottom: auto;
    right: auto;
    padding: 10px 0;
    box-shadow: 0 1px 10px black;
  }
}

@media (max-width: 800px) {
  .matchOverflow {
    top: 0;
  }
}
