#clubs {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

#queryLabel {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50px;
}

#queryLabel > input {
  font-size: 20px;
}

#clubsList {
  display: flex;
  flex-direction: column;
  width: 50%;
}
