.matchLabel {
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
  width: 100%;
  font-size: 20px;
  box-shadow: 0 1px 5px black;
}

.matchFirstClubName,
.matchSecondClubName {
  display: flex;
  align-items: center;
  flex: 3;
}

.matchFirstClubName {
  justify-content: flex-end;
  margin-right: 50px;
}

.matchSecondClubName {
  margin-left: 50px;
}

.versus {
  display: flex;
  align-items: center;
  color: rgb(40, 215, 133);
  font-size: 30px;
}

.watchMatch {
  display: flex;
  flex: 2;
  justify-content: center;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  background-color: rgb(54, 114, 204);
  border-radius: 5px;
  transition: background-color 0.4s;
}

.watchMatch:hover {
  background-color: rgb(0, 195, 255);
}

@media (max-width: 800px) {
  .watchMatch {
    flex: 1;
  }

  .matchFirstClubName {
    margin-right: 25px;
  }
  .matchSecondClubName {
    margin-left: 25px;
  }
}
