#ball {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 4;
}

#ball > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  #ball {
    width: 15px;
    height: 15px;
  }
}
