.player2D {
  position: absolute;
  z-index: 2;
  display: flex;
}

.shirt {
  position: relative;
}

.shirt,
.pattern,
.strip {
  display: flex;
  flex: 1;
}

.strip:first-child,
.strip:last-child {
  height: 30%;
}

.playerInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.playerInfo > div {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.playerInfo > .playerName {
  flex: 1;
  font-size: 9px;
  overflow: hidden;
}

.playerInfo > .playerName > .playerNamePlaceholder,
.playerInfo > .sponsors > .sponsorPlaceholder {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.playerInfo > .playerNumber {
  flex: 3;
  font-weight: bold;
  font-size: 25px;
  width: 60%;
}

.playerInfo > .sponsors {
  flex: 1;
  font-size: 9px;
  overflow: hidden;
  width: 60%;
}

@media (max-width: 900px) {
  .playerInfo > .playerName > .playerNamePlaceholder,
  .playerInfo > .sponsors > .sponsorPlaceholder {
    display: none;
  }
}

@media (max-width: 800px) {
  .playerInfo > .playerNumber {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .playerInfo > .playerNumber {
    font-size: 15px;
  }
}
